* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1400px;
  margin: auto;
}

.section {
  height: 100%;
  width: 100%;
  margin-left: 33px;
}

.breadcrumb-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 33px;
  text-decoration: none;
}

.title-area,
.title-wrapper,
.row,
.values-area {
  display: flex;
  justify-content: space-between;
}

.title-wrapper {
  gap: 165px;
}

.values-area {
  gap: 170px;
}

.title-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.border-line {
  border-bottom: 1px solid #000000;
}

.item-list {
  display: flex;
  flex-direction: column;
  margin: 22px 0 39px;
  gap: 5px;
}

.item-overview {
  display: flex;
  gap: 20px;
}

.image {
  width: 115px;
  height: 86px;
}

.name,
.value,
.summary-text,
.discount-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.discount-title {
  margin-right: 12px;
}

.continue-shopping-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #c27e7e;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
  text-decoration: none;
}

.discount-row {
  display: flex;
}

.input-box {
  width: 332px;
  height: 36px;
  background: #d9d9d9;
  border: none;
}

.apply-button {
  margin-left: 135px;
  width: 154px;
  height: 36px;
  background: #262626;
  border-radius: 18px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 165px 332px;
  grid-gap: 15px;
  margin-bottom: 5px;
}

.label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.check-box-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  width: 230px;
  position: relative;
}

.pay-button {
  width: 154px;
  height: 36px;
  background: #c27e7e;
  border-radius: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  border: none;
}

.footer {
  height: 239px;
  width: 100%;
  background: #fed4d4;
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
  padding: 0 10px;
}

.wrapper {
  display: flex;
  gap: 139px;
}

.footer-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 35px;
  color: #000000;
}

.footer-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 35px;
  color: #000000;
}

.social-card-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
